// AZULES
$azul-institucional: #14213d;
$azul-primario: #003a70;

// GRISES
$gris-primario: #e8e9ed;
$gris-secundario: #d2d4dc;
$gris-oscuro: #5a6072;

// DEGRADADOS
$degradado-alternativo: linear-gradient(270deg, #003a70 -16.95%, #14213d 120.34%);
$degradado-institucional: linear-gradient(90deg, #14213d -3.38%, #e8e9ed 119.49%);

// EXTRAS
$color-secundario: #a88d69;
