@import "../../styles/global.scss";

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        gap: 80px;
        color: $azul-primario;
    }

    li {
        font-weight: 450;
        font-size: 20px;
    }
}

.active {
    font-weight: 600 !important;
}
