@import "../../styles/global.scss";

.wrapper {
    background-color: $gris-primario;
    height: 80px;
    width: 100vw;

    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__derechos_reservados {
        font-size: 14px;
        color: $azul-institucional;
        font-weight: 500;
    }
}

@media (max-width: 900px) {
    .wrapper {
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;

        flex-direction: column;
        justify-content: center;

        &__logo {
            img {
                height: 40px;
                width: 320px;
            }
        }
    }
}

@media (min-width: 1370px) {
    .wrapper {
        padding: 0px 100px;
    }
}
